.apresentacao {
    padding:  4% 0;
    display: flex; 
    justify-content: center;    
}

.apresentacao__conteudo {
    width: 70%;
    
}
.apresentacao__conteudo__titulo {
    font-size: 1.65rem;
}

.titulo-destaque {
    color: var(--cor-terciaria);
    
}

.apresentacao__conteudo__texto{
    font-size: 1rem;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5;
}

.apresentacao__imagem{
    padding: 10% 0;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.apresentacao__links__subtitulo{
    font-size: 1.2rem;
}

.apresentacao__links__navegacao{
    width: 75%;
    text-align: center;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.2rem;
    padding: 18px 0px; 
    text-decoration: none;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 18px;
}

.apresentacao__conteudo__about{
    width: 60%;
    margin: 0 auto;
    
}

@media screen and (min-width:767px){
    .apresentacao__conteudo {
        width: 100%;
        height: 482px;
        display: flex;
        justify-content: center;  
        flex-direction: column;
        gap: 40px;
        margin: 0 8%;
        
    }
    .apresentacao__imagem{
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width:1024px) {
    
    .apresentacao__conteudo {
        width: 50%;
        height: 482px;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin: 0 8%;
    }
    .apresentacao__conteudo__titulo {
        font-size: 1.65rem;
    }
    
    .apresentacao__conteudo__texto{
        font-size: 1rem;
        text-align: justify;
        letter-spacing: 1px;
        line-height: 1.5;
        margin: 2% 0;
    }
    .apresentacao__links__navegacao{
        width: 70%;
    }
    .apresentacao__imagem{
        width: 20%;
    }

}

@media screen and (min-width:1768px){
    .apresentacao__imagem{
        width: 10%;
    }
    .apresentacao__links__navegacao{
        width: 50%;
    }
}