@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(projects.css);


:root{
    --cor-primaria: black;
    --cor-secundaria: white;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
    font-size: 16px;
}

.krona-one-regular { /* Fonte para título */
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.montserrat-regular { /* Fonte para texto*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}